<!-- include header -->
<%- include('include/_header') %>

<div class="container">
    <a class=" goto_link " href="/"><i class="fas fa-angle-double-left"></i> Customer's Table</a>
</div>

<!-- add user form -->
<%- include('include/_form') %>

<!-- include footer -->
<%- include('include/_footer') %>

<!-- For Background Image -->
<style>
    body{
        background-image: url(../img/sale.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>